name: C/C++ CI

on:
  release:
    branches: [ "main" ]

jobs:
  build:

    runs-on: windows-latest

    steps:
    - uses: actions/checkout@v5
      with:
        submodules: true
    - name: Setup premake
      uses: abel0b/setup-premake@v2.4
      with:
        version: "5.0.0-beta2"
    - name: premake
      run: |
        premake5 vs2022

    - name: Add MSBuild to PATH
      uses: microsoft/setup-msbuild@v2

    - name: Build project with MSBuild
      run: |
        msbuild.exe borealis.sln /p:Configuration=Release /m /p:WarningLevel=0 /clp:ErrorsOnly
