name: C/C++ CI

on:
  push:
    branches: [ "main" ]

jobs:
  build:

    runs-on: windows-latest

    steps:
    - uses: actions/checkout@v5
      with:
        submodules: true
    - name: Setup premake
      uses: abel0b/setup-premake@v2.4
      with:
        version: "5.0.0-beta7"
    - name: premake
      run: |
        premake5 gmake
    - name: make
      run: make -j8 config=release
